h1{
    color:#0000ff ;
    margin-left: 30%;
    margin-top: 15%;
    font-size: 100px;
}

.kolor{
    color: #ff0000;
    }

    p{
        font-size: 50px;
    font-family: Verdana, sans-serif;
    }